node_modules
dist
.claude
CLAUDE.md
.playwright-mcp
.vscode

# turborepo cache
.turbo

# tsc incremental build info
*.tsbuildinfo

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
