node_modules
dist
playwright-report
test-results
.claude
CLAUDE.md
.playwright-mcp
.vscode
AGENTS.md
.codex

# turborepo cache
.turbo

# tsc incremental build info
*.tsbuildinfo

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
